@tailwind base;
@tailwind components;
@tailwind utilities;

@import "varaiables.module";

//$color-primary: #a7b6db;

html, body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;

}

body * {
  @apply transition-colors duration-200;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a {
  cursor: pointer;
}

.nxt-default-transition {
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
  transition: all 0.20s ease-in-out;
}

.rl-disable-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.nxt-disable-scrollbar::-webkit-scrollbar {
  width: 0;
  background: transparent;
  display: none;
}

.test-b {
  outline: 1px solid red;
}

.nxt-base-width {
  @apply w-screen max-w-1080 md:max-w-full xl:w-1080;
}


